<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-12 text-center">
		    <p>
			    My personal interests include:
				<br><br>
				
							 Camping
			  <br>
				  Hiking
		<br>
				  Travelling
        </p>
		
			  
	
    
			
		</div>
    <!-- div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>

		   </ul>
      </div>-->
    </div>
  </div>
</section>
